{% macro create_command_menu(menuid, command_list) -%}
    <div data-role="panel" id="{{ menuid }}"
    class="ui-bottom-sheet ui-bottom-sheet-list"
    data-animate="false"
    data-position='bottom'
    data-display="overlay">
        <div class="row around-xs">
            <div class="col-xs-auto">
                {% for command, command_desc in command_list %}
                    <a href="#" data-ammcon="ammcon" data-ammcon_cmd="{{ command }}"
                    class="ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button"
                    data-ajax="false">
                        <i class="zmdi zmdi-assignment zmd-2x"></i><strong>{{ command_desc }}</strong>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div><!-- /commandmenu -->
{%- endmacro %}
