{% extends "base.html" %}

{% block pagetitle %}AmmCon Graphs{% endblock pagetitle %}

{% block pageid %}graphpage{% endblock pageid %}

{%- block content %}
    {# put javascript in body so that jquery mobile can load it -#}
    <!-- amCharts javascript code -->
    <script type="text/javascript">
        AmCharts.useUTC = false;
        AmCharts.makeChart("chartdiv",
            {
                "type": "serial",
                "categoryField": "datetime",
                // remove dataDateFormat so that dates are shown in user's localtime
                // see https://github.com/amcharts/amcharts3/issues/99
                //"dataDateFormat": "YYYY-MM-DDTHH:NN:SS.QQ",
                "theme": "black",
                "categoryAxis": {
                    "minPeriod": "ss",
                    "parseDates": true,
                },
                "chartCursor": {
                    "enabled": true,
                    "categoryBalloonDateFormat": "JJ:NN"
                },
                "chartScrollbar": {
                    "enabled": true
                },
                "trendLines": [],
                "graphs": [
                    {
                        "bullet": "round",
                        "connect": true,
                        "id": "AmGraph-1",
                        "title": "Temperature",
                        "valueAxis": "ValueAxis-1",
                        "valueField": "temperature",
                        "type": "smoothedLine"
                    },
                    {
                        "bullet": "square",
                        "connect": true,
                        "id": "AmGraph-2",
                        "title": "Humidity",
                        "valueAxis": "ValueAxis-2",
                        "valueField": "humidity",
                        "type": "smoothedLine",
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "unit": "℃",
                        "minimum": 0,
                        "maximum": 40,
                        //"title": "degC",
                        //"minorTickLength": 1
                    },
                    {
                        "id": "ValueAxis-2",
                        "unit": "%",
                        "minimum": 20,
                        "maximum": 70,
                        //"title": "%RH",
                        "position": "right",
                        //"minorTickLength": 1
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "legend": {
                    "enabled": true,
                    "useGraphSettings": true
                },
                "titles": [
                    {
                        "id": "Title-1",
                        "size": 14,
                        "text": "Living Room Temperature"
                    }
                ],
                "dataLoader": {
                    "url": "{{ url_for('graph_temps') }}",
                    "format": "json",
                    "async": true,
                    "showCurtain": true,
                    "postProcess": function(data) {
                        //remove root object 'data' otherwise amcharts won't find the data
                        return data.data;
                    }
                },
                "responsive": {
                    "enabled": true
                }
            }
        );
    </script>

    <div id="chartdiv"></div>

{% endblock content %}
