{% extends "base.html" -%}
{% from 'command_menu.html' import create_command_menu %}

{% block pagetitle %}AmmCon Main{% endblock pagetitle %}

{% block pageid %}"mainpage"{% endblock pageid %}

{% block content -%}
<div class="layout" style="width: 100%;">
    <img class="layout_bg" src="{{ url_for('static', filename='apartment_layout.png') }}" style="width: 100%;">
    <a href="#living1_light_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="living_light1" src="{{ url_for('static', filename='light.png') }}"></a>
    <a href="#living2_light_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="living_light2" src="{{ url_for('static', filename='light.png') }}"></a>
    <a href="#bedroom1_light_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="bedroom1_light" src="{{ url_for('static', filename='light.png') }}"></a>
    <a href="#bedroom2_light_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="bedroom2_light" src="{{ url_for('static', filename='light.png') }}"></a>
    <a href="#bedroom3_light_menu"><img class="layout_sub" id="bedroom3_light" src="{{ url_for('static', filename='light.png') }}"></a>
    <a href="#living_aircon_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="living_aircon" src="{{ url_for('static', filename='aircon.png') }}"></a>
    <a href="#bedroom2_aircon_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="bedroom2_aircon" src="{{ url_for('static', filename='aircon.png') }}"></a>
    <a href="#bedroom3_aircon_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="bedroom3_aircon" src="{{ url_for('static', filename='aircon.png') }}"></a>
    <a href="#tv_menu" data-rel="popup" data-transition="pop"><img class="layout_sub" id="living_tv" src="{{ url_for('static', filename='tv.png') }}"></a>
    <p class="temp" id="temp1" title="">Temp:</p>
    <p class="temp" id="temp2" title="">Temp:</p>
    <p class="temp" id="temp3" title="">Temp:</p>
</div>

{# TODO: query backend for devices + list of commands, generate commands automatically #}
{% if current_user.is_authenticated %}
{{ create_command_menu('living1_light_menu', [('living1 off', 'Off'), ('living1 on', 'On'), ('living1 night', 'Nightlight'), ('living1 low', 'Low'), ('living off', 'All Off'), ('living on', 'All On')]) }}
{{ create_command_menu('living2_light_menu', [('living2 off', 'Off'), ('living2 on', 'On'), ('living2 night', 'Nightlight'), ('living2 low', 'Low'), ('living off', 'All Off'), ('living on', 'All On')]) }}
{{ create_command_menu('bedroom1_light_menu', [('bedroom off', 'Off'), ('bedroom on', 'On'), ('bedroom night', 'Nightlight'), ('bedroom full', 'Full'), ('bedroom down', 'Dim'), ('bedroom up', 'Brighten')]) }}
{{ create_command_menu('bedroom2_light_menu', [('kayoroom off', 'Off'), ('kayoroom on', 'On'), ('kayoroom night', 'Nightlight'), ('kayoroom full', 'Full'), ('kayoroom down', 'Dim'), ('kayoroom up', 'Brighten')]) }}
{{ create_command_menu('bedroom3_light_menu', [('myroom off', 'Off'), ('myroom on', 'On'), ('myroom night', 'Nightlight'), ('myroom full', 'Full'), ('myroom down', 'Dim'), ('myroom up', 'Brighten')]) }}
{{ create_command_menu('living_aircon_menu', [('living AC off', 'Off'), ('living AC auto', 'Auto')]) }}
{{ create_command_menu('bedroom2_aircon_menu', [('bedroom2 AC off', 'Off'), ('bedroom2 AC auto', 'Auto')]) }}
{{ create_command_menu('bedroom3_aircon_menu', [('bedroom3 AC off', 'Off'), ('bedroom3 AC auto', 'Auto')]) }}
{{ create_command_menu('tv_menu', [('htpc wol', 'HTPC On'), ('tv off', 'TV Off'), ('tv on', 'TV On'), ('tv mute', 'Mute TV')]) }}
{% endif %}

<p>Server response: <span id="response">???</span>
    <br>
    <span id="sysdate">System date: {{ momentjs(date_time, "sysdate").format("YYYY/MM/DD H:mm:ss a") }}</span>
    <br>
    <span>System uptime: {{ uptime }}</span>
</p>

{%- endblock content %}
