{% extends "base.html" %}

{% block pagetitle %}AmmCon Login{% endblock pagetitle %}

{%- block content %}
    {% for message in get_flashed_messages() %}
    <p><b>Error</b>: {{ message }}</p>
    {% endfor -%}

    <div data-role="controlgroup">
    <button class="show-page-loading-msg" data-theme="a" data-textonly="false" data-textvisible="true" data-msgtext="Loading theme b" data-icon="arrow-r" data-iconpos="right">
        <a id="login" data-ajax="false" href="{{ url_for('oauth.oauth_authorize', provider='google') }}">
            <img src="{{ url_for('static', filename='btn_google_signin_light_normal_web.png') }}">
        </a>
    </button>
    </div>
{% endblock content %}
