{% if current_user.is_authenticated %}
<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

	<div class='nd2-sidepanel-profile wow fadeInDown'>
		<img class='profile-background' src="{{ url_for('static', filename='sidepanel_bg.jpg') }}" />

		<div class="row">
			<div class='col-xs-4 center-xs'>
				<div class='box'>
                    {# TO DO: how to serve files not saved in flask package dir? #}
					<img class="profile-thumbnail" src="{{ url_for('static', filename=current_user.photo_url) }}" />
				</div>
			</div>
			<div class='col-xs-8'>
				<div class='box profile-text'>
					<strong>{{ current_user.nickname }}</strong>
					<span class='subline'>{{ current_user.email }}</span>
					<span class='subline'><a href="{{ url_for('logout') }}" data-ajax='false'>Logout</a></span>
					<span class='subline' id="logindate">Last login at: {{ momentjs(current_user.last_login_at, "logindate").format("YYYY/MM/DD HH:mm:ss a") }}</span>
                </div>
			</div>
		</div>
	</div>

		<ul data-role="listview" data-inset="false">
			<li data-role="list-divider">Main</li>
		</ul>
		<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
			<h3>Menu1</h3>
			<ul data-role="listview" data-icon="false">
				<li><a href="{{ url_for('graph_page') }}" data-transition="flip">Graphs</a></li>
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
			</ul>
		</div>
		<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
			<h3>Menu2</h3>
			<ul data-role="listview" data-icon="false">
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
			</ul>
		</div>
		<ul data-role="listview" data-inset="false">
			<li data-role="list-divider">TBD</li>
		</ul>
		<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
			<h3>TBD</h3>
			<ul data-role="listview" data-icon="false">
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
			</ul>
		</div>

		{% if current_user.has_role('admin') %}
		<hr class="inset">
		<ul data-role="listview" data-inset="false">
			<li data-role="list-divider">Admin</li>
		</ul>
		<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
			<h3>Tools</h3>
			<ul data-role="listview" data-icon="false">
				{# Flask-Admin uses Bootstrap so need to set data-ajax=false as jQuery Mobile expects links to also use jQuery Mobile #}
				<li><a href="{{ url_for('admin.index') }}" data-ajax='false'>Database</a></li>
				<li><a href="/#" class="ui-disabled" data-ajax='false'>TBD</a></li>
			</ul>
		</div>
		{% endif %}
</div>
{% endif %}
