/* ↓↓↓　Fix issue #13 ↓↓↓ */
.ui-panel-position-left > .ui-panel-inner {
    top: 0px;
}
/* ↑↑↑　Fix issue #13 ↑↑↑　*/

#layout_main {
 position: relative;
 width: 100%;
}

svg#layout_svg {
   font-family: "RobotoDraft","Roboto","Helvetica Neue",sans-serif;
   position: relative;
   width: 100%;
   height: auto; /* Fix issue #14 */
}

path.window {
    fill: none;
    stroke: #808080;
    stroke-width: 6;
    stroke-opacity: 0.66666667;
}

.tobira {
    stroke: gray;
    fill: none;
}

.temp_text {
    text-anchor: left;
    font-size: 24px;
    fill: yellow;
}

.outline {
    stroke: white;
    stroke-width: 6;
    fill: none;
}

.door {
    stroke: white;
    fill: none;
}

.interactive {
    stroke: pink;
}

.misc {
    stroke: gray;
    fill: none;
}

/*
svg.light_icon{
    text-anchor: middle;
}
*/

/*
#svg_8 {
   font-family: 'Material-Design-Iconic-Font';
}
*/

/*
.nd2-sidepanel-profile:after {
    background-color: #000000;
}
*/

/* main page background */
.ui-page {
    background: #000000;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #000000;

/* for desktop */
@media only screen and (min-width: 600px) {
    .ui-page {
        width: 600px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
}

/* main page text */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    /*background-color: #ffffff;
    border-color: rgba(0,0,0,.87);*/
    color: rgba(255, 255, 255, 0.87);
}

/* side panel background */
.ui-panel-position-left > .ui-panel-inner {
    background-color: #000000;
}

.ui-collapsible.ui-collapsible {
	background-color: #000000;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    color: rgba(255, 255, 255, 0.87);
}

#chartdiv {
    width: 100%;
    height: 300px;
    background-color: black;
}
