/* ↓↓↓　Fix issue #13 ↓↓↓ */
.ui-panel-position-left > .ui-panel-inner {
    top: 0px;
}
/* ↑↑↑　Fix issue #13 ↑↑↑　*/

#layout_main {
 position: relative;
 width: 100%;
}

svg#layout_svg {
   font-family: "RobotoDraft","Roboto","Helvetica Neue",sans-serif;
   position: relative;
   width: 100%;
   height: auto; /* Fix issue #14 */
}

/*
svg.light_icon{
    text-anchor: middle;
}
*/

/*
#svg_8 {
   font-family: 'Material-Design-Iconic-Font';
}
*/

/*
.nd2-sidepanel-profile:after {
    background-color: #000000;
}
*/

/* main page background */
.ui-page {
    background: #000000;
}

/* main page text */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	/*background-color: #ffffff;
	border-color: rgba(0,0,0,.87);*/
	color: rgba(255, 255, 255, 0.87);
}

/* side panel background */
.ui-panel-position-left > .ui-panel-inner {
    background-color: #000000;
}

.ui-collapsible.ui-collapsible {
	background-color: #000000;
}
